@media print{@page {size: landscape}}

.menu, .button-bar, ul.tabs, button, #footer{
 visibility:hidden; 
 display: none; 
}

.tab-content, .col_12, form {
min-width:100%;
width:100%;
max-width:100%;
border: none;
margin: 0;
padding: 0;
}

.col_3,
{
width: 48%;
}