<!DOCTYPE html>
<html><head>
<title>Matemáticas Financieras UIS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="Herramientas matematicas financieras " />
<meta name="keywords" content="Herramientas matematicas financieras Universidad Industrial de Santander" />
<meta name="author" content="Gabriel Fernando Neira codigo 2090081; Ruben Hernandez codigo 2090063; Universidad Industrial de Santander" />
<meta name="copyright" content="" />
<script type="application/javascript" src="../js/jquery.min.js"></script>
<script type="application/javascript" src="../js/js.js"></script> 
<script type="application/javascript" src="../js/kickstart.js"></script>                           <!-- KICKSTART -->
<link rel="stylesheet" type="text/css" href="../css/kickstart.css" media="all" />                  <!-- KICKSTART -->
<link rel="stylesheet" type="text/css" href="../css/style.css" media="all" />                         
<link rel="stylesheet" type="text/css" href="../css/print.css" media="print"> 
</head><body>
<!-- Menu Horizontal -->
<ul class="menu">
<li class="current"><a href="index.html">Menú</a></li>
<li><a href="interes.html"><span class="icon" data-icon="R"></span>Interés</a>
	<ul>
	<li><a href="interes.html#simple" opcionTab=0><span class="icon" data-icon="G"></span>Simple</a></li>
	<li><a href="interes.html#compuesto" opcionTab=1><span class="icon" data-icon="A"></span>Compuesto</a></li>
	</ul>
</li>
<li><a href="conversion.html"><span class="icon" data-icon="R"></span>Conversión de tasas</a>
	<ul>
	<li><a href="conversion.html#nominal" opcionTab=0><span class="icon" data-icon="G"></span>Nominal a Otras</a></li>
	<li><a href="conversion.html#efectiva" opcionTab=1><span class="icon" data-icon="A"></span>Efectiva a Nominal</a></li>
	<li><a href="conversion.html#tabla" opcionTab=2><span class="icon" data-icon="A"></span>Tabla</a></li>
	</ul>
</li>
<li><a href="anualidades.html"><span class="icon" data-icon="R"></span>Anualidades</a>
	<ul>
	<li><a href="anualidades.html#anualidades" opcionTab=0><span class="icon" data-icon="G"></span>Anticipadas y Vencidas</a></li>
	<li><a href="anualidades.html#perpetuas" opcionTab=1><span class="icon" data-icon="A"></span>Perpetuas</a></li>
	<li><a href="anualidades.html#factores" opcionTab=2><span class="icon" data-icon="A"></span>Tabla de Factores</a></li>
	</ul>
</li>
<li><a href="gradiente.html">Gradientes</a>
<ul>
	<li><a href="gradiente.html#aritmetico" opcionTab=0><span class="icon" data-icon="G"></span>Aritmético</a></li>
	<li><a href="gradiente.html#geometrico" opcionTab=1><span class="icon" data-icon="A"></span>Geométrico</a></li>
	<li><a href="gradiente.html#perpetuo" opcionTab=2><span class="icon" data-icon="A"></span>Perpetuo</a></li>
	</ul>
</li>
<li><a href="uvr.html">UVR</a>
<ul>
	<li><a href="uvr.html#simple" opcionTab=0><span class="icon" data-icon="G"></span>Cálculo Simple</a></li>
	<li><a href="uvr.html#serie" opcionTab=1><span class="icon" data-icon="A"></span>Cálculo de la Serie</a></li>
	
	</ul>
</li>
</ul>
<div class="grid">
<!-- ===================================== END HEADER ===================================== -->
	 
<script type="text/javascript" src="../js/graficas/highcharts.js"></script> 
<script type="text/javascript" src="../js/graficas/modules/exporting.js"></script>
<script type="text/javascript" src="../js/gradientes.js"></script> 
	 
<div class="col_12 column">
	<h4>Gradientes</h4>
	<ul class="tabs left" id="pestañas">
		<li class="first current"><a href="#aritmetico">Gradiente Aritmético</a></li>
		<li class=""><a href="#geometrico">Gradiente Geométrico</a></li>
		<li class="last"><a href="#perpetuo">Gradiente Perpetuo</a></li>
	</ul>
	
	<div id="aritmetico" class="tab-content clearfix" style="display: block;">
	<form id="formAritmetico" name="formAritmetico" method="post" action="" onsubmit="aritmetico(); return false;">
			<table border="0" class="col_7">
			<tr>
				<th width="300px">
				<label for="tipoGradiente" class="col_12">Tipo de Gradiente Aritmético: </label>
				</th>
				<th>
			    <select name="tipoGradiente" id="tipoGradiente">
				<option value="1" selected> Vencido</option>
				<option value="2">Anticipado</option>
				</select>
				<select name="formaGradiente" id="formaGradiente">
				<option value="1" selected>Creciente</option>
				<option value="-1">Decreciente</option>
				</select>
				<select name="funcion" id="funcion">
				<option value="1" selected> Presente</option>
				<option value="2">Futura</option>
				</select>
				</th>
			</tr>
			<tr>
				<th>
				<label for="primerPago" class="col_12">Primer Pago: </label>
				</th>
				<th>
				<input id="primerPago" type="text" placeholder="$" required/>
				</th>
			</tr>
			<tr>
				<th>
				<label for="incremento" class="col_12">Incremento (G): </label>
				</th>
				<th>
			    <input id="incremento" type="text" placeholder="$" required/>
				</th>
			</tr>
			<tr>
				<th>
				<label for="numeroPeriodos" class="col_12">Número de Periodos:</label>
				</th>
				<th>
			    <input id="numeroPeriodos" type="number" placeholder="" />
				<select name="tipoPeriodos" id="tipoPeriodos">
				<option value="12" selected> Meses</option>
				<option value="4">Trimestres</option>
				<option value="2">Semestres</option>
				<option value="1">Años</option>
				</select>
				</th>
			</tr>
			<tr>
				<th>
				<label for="tasaInteres" class="col_12">Tasa de Interés Anual:</label>
				</th>
				<th>
			    <input id="tasaInteres" type="text" placeholder="%" required/>
				</th>
			</tr>
			<tr>
				<th>
				<label for="valorPresente" class="col_12 label">Valor Presente:</label>
				</th>
				<th>
			    <input id="valor" type="text" placeholder="$" readonly=true class="disabled"/>
				</th>
			</tr>
			</table>
			
		<div id="graficaAritmetico" style="width: 440px;height: 400px; margin-left: 10px; float: left;"></div> 
			<p>
			  
			  <button type="submit" class="green"><i class="icon-play"></i> Calcular</button>
			  <button type="reset"  class="blue"><i class="icon-undo"></i> Limpiar Todo</button>
			</p>
			<!-- Columna 2 -->
			
		 
		
	 
		</form>

	</div>

			 <!-- ===================================== FIN Gradiente Aritmetico ===================================== -->
			 
	<div id="geometrico" class="tab-content clearfix" style="display: none;">
		<form id="formGeometrico" name="formGeometrico" method="post" action="" onsubmit="geometrico(); return false;">
			<table border="0" class="col_7">
			<tr>
				<th width="300px">
				<label for="tipoGradiente" class="col_12">Tipo de Gradiente Aritmético: </label>
				</th>
				<th>
			    <select name="tipoGradiente" id="tipoGradiente">
				<option value="1" selected> Vencido</option>
				<option value="2">Anticipado</option>
				</select>
				<select name="formaGradiente" id="formaGradiente">
				<option value="1" selected>Creciente</option>
				<option value="-1">Decreciente</option>
				</select>
				<select name="funcion" id="funcion">
				<option value="1" selected> Presente</option>
				<option value="2">Futura</option>
			</select>
				</th>
			</tr>
			<tr>
				<th>
				<label for="primerPago" class="col_12">Primer Pago: </label>
				</th>
				<th>
				<input id="primerPago" type="text" placeholder="$" />
				</th>
			</tr>
			<tr>
				<th>
				<label for="incremento" class="col_12">Incremento (K): </label>
				</th>
				<th>
			    <input id="incremento" type="text" placeholder="%" />
				</th>
			</tr>
			<tr>
				<th>
				<label for="numeroPeriodos" class="col_12">Número de Periodos:</label>
				</th>
				<th>
			    <input id="numeroPeriodos" type="number" placeholder="" />
				<select name="tipoPeriodos" id="tipoPeriodos">
				<option value="12" selected> Meses</option>
				<option value="4">Trimestres</option>
				<option value="2">Semestres</option>
				<option value="1">Años</option>
				</select>
				</th>
			</tr>
			<tr>
				<th>
				<label for="tasaInteres" class="col_12">Tasa de Interés Anual:</label>
				</th>
				<th>
			    <input id="tasaInteres" type="text" placeholder="%" />
				</th>
			</tr>
			<tr>
				<th>
				<label for="valorPresente" class="col_12">Valor Presente:</label>
				</th>
				<th>
			    <input id="valor" type="text" placeholder="$" readonly=true class="disabled"/>
				</th>
			</tr>
			</table>
			<div id="graficaGeometrico" style="width: 440px;height: 400px; margin-left: 10px; float: left;"></div> 
			<p>
			  
			  <button type="submit" class="green"><i class="icon-play"></i> Calcular</button>
			  <button type="reset"  class="blue"><i class="icon-undo"></i> Limpiar Todo</button>
			</p>
			<!-- Columna 2 -->
			
		
		 
		</form>
	
	</div>
	
	<div id="perpetuo" class="tab-content clearfix" style="display: none;">
		<form id="formPerpetuo" name="formPerpetuo" method="post" action="" onsubmit="perpetuo(); return false;">
				<table border="0" class="col_6">
			<tr>
				<th width="250px">
				<label for="tipoGradiente" class="col_12">Tipo de Gradiente</label>
				</th>
				<th>
			    <select name="tipoGradiente" id="tipoGradiente">
				<option value="1" selected> Aritmetico</option>
				<option value="2">Geometrico</option>
				</select>
				</th>
			</tr>
			<tr>
				<th>
				<label for="primerPago" class="col_12">Primer Pago: </label>
				</th>
				<th>
				<input id="primerPago" type="text" placeholder="$" />
				</th>
			</tr>
			<tr>
				<th>
				<label for="incremento" class="col_12">Incremento (G ó K): </label>
				</th>
				<th>
			    <input id="incremento" type="text" placeholder="%" />
				</th>
			</tr>
			<tr>
				<th>
				<label for="numeroPeriodos" class="col_12">Cuotas:</label>
				</th>
				<th>
			    <select name="tipoPeriodos" id="tipoPeriodos">
				<option value="12" selected> Meses</option>
				<option value="4">Trimestres</option>
				<option value="2">Semestres</option>
				<option value="1">Años</option>
				</select>
				</th>
			</tr>
			<tr>
				<th>
				<label for="tasaInteres" class="col_12">Tasa de Interés Anual:</label>
				</th>
				<th>
			    <input id="tasaInteres" type="text" placeholder="%" />
				</th>
			</tr>
			<tr>
				<th>
				<label for="valorPresente" class="col_12">Valor Presente:</label>
				</th>
				<th>
			    <input id="valor" type="text" placeholder="$" readonly=true class="disabled"/>
				</th>
			</tr>
			</table>
				
			<div id="graficaPerpetuo" style="width: 540px;height: 400px; margin-left: 10px; float: left;"></div> 
			<p>
			  
			  <button type="submit" class="green"><i class="icon-play"></i> Calcular</button>
			  <button type="reset"  class="blue"><i class="icon-undo"></i> Limpiar Todo</button>
			</p>
			
			
		
		</form>
	
	</div>
	<!-- Button Bar w/icons -->
	<ul class="button-bar">
		<li><a href='javascript:window.print(); void 0;'><i class="icon-file-alt"></i> Imprimir</a></li>
		<li><a href="javascript:window.open('formulas.html','nueva','width=800,height=500'); void 0;"><i class="icon-beaker"></i>Formulas</a></li>
		<li><a href="javascript:window.open('ayuda.html','nueva','width=800,height=500'); void 0;"  target="blank"><i class="icon-plus-sign-alt"></i>Ayuda</a></li>
	</ul>
	</div>	
</div><!-- END GRID -->
<!-- ===================================== START FOOTER ===================================== -->
<div class="clear"></div>
<div id="footer">
&copy; Software prototipo para Ingeniería Económica
</div>
</body></html>