<!DOCTYPE html>
<html><head>
<title>Matemáticas Financieras UIS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="Herramientas matematicas financieras " />
<meta name="keywords" content="Herramientas matematicas financieras Universidad Industrial de Santander" />
<meta name="author" content="Gabriel Fernando Neira codigo 2090081; Ruben Hernandez codigo 2090063; Universidad Industrial de Santander" />
<meta name="copyright" content="" />
<script type="application/javascript" src="../js/jquery.min.js"></script>
<script type="application/javascript" src="../js/js.js"></script> 
<script type="application/javascript" src="../js/kickstart.js"></script>                           <!-- KICKSTART -->
<link rel="stylesheet" type="text/css" href="../css/kickstart.css" media="all" />                  <!-- KICKSTART -->
<link rel="stylesheet" type="text/css" href="../css/style.css" media="all" />                         
<link rel="stylesheet" type="text/css" href="../css/print.css" media="print"> 
</head><body>
<!-- Menu Horizontal -->
<ul class="menu">
<li class="current"><a href="index.html">Menú</a></li>
<li><a href="interes.html"><span class="icon" data-icon="R"></span>Interés</a>
	<ul>
	<li><a href="interes.html#simple" opcionTab=0><span class="icon" data-icon="G"></span>Simple</a></li>
	<li><a href="interes.html#compuesto" opcionTab=1><span class="icon" data-icon="A"></span>Compuesto</a></li>
	</ul>
</li>
<li><a href="conversion.html"><span class="icon" data-icon="R"></span>Conversión de tasas</a>
	<ul>
	<li><a href="conversion.html#nominal" opcionTab=0><span class="icon" data-icon="G"></span>Nominal a Otras</a></li>
	<li><a href="conversion.html#efectiva" opcionTab=1><span class="icon" data-icon="A"></span>Efectiva a Nominal</a></li>
	<li><a href="conversion.html#tabla" opcionTab=2><span class="icon" data-icon="A"></span>Tabla</a></li>
	</ul>
</li>
<li><a href="anualidades.html"><span class="icon" data-icon="R"></span>Anualidades</a>
	<ul>
	<li><a href="anualidades.html#anualidades" opcionTab=0><span class="icon" data-icon="G"></span>Anticipadas y Vencidas</a></li>
	<li><a href="anualidades.html#perpetuas" opcionTab=1><span class="icon" data-icon="A"></span>Perpetuas</a></li>
	<li><a href="anualidades.html#factores" opcionTab=2><span class="icon" data-icon="A"></span>Tabla de Factores</a></li>
	</ul>
</li>
<li><a href="gradiente.html">Gradientes</a>
<ul>
	<li><a href="gradiente.html#aritmetico" opcionTab=0><span class="icon" data-icon="G"></span>Aritmético</a></li>
	<li><a href="gradiente.html#geometrico" opcionTab=1><span class="icon" data-icon="A"></span>Geométrico</a></li>
	<li><a href="gradiente.html#perpetuo" opcionTab=2><span class="icon" data-icon="A"></span>Perpetuo</a></li>
	</ul>
</li>
<li><a href="uvr.html">UVR</a>
<ul>
	<li><a href="uvr.html#simple" opcionTab=0><span class="icon" data-icon="G"></span>Cálculo Simple</a></li>
	<li><a href="uvr.html#serie" opcionTab=1><span class="icon" data-icon="A"></span>Cálculo de la Serie</a></li>
	
	</ul>
</li>
</ul>
<div class="grid">
<!-- ===================================== END HEADER ===================================== -->


<div class="col_12" style="margin-top:100px;">
	<h1 class="center">
	<p><i class="icon-bar-chart"></i></p>
	Bienvenido</h1>
	<h4 style="color:#999;margin-bottom:40px;" class="center">Aquí podrá encontrar aplicaciones útiles
	que facilitaran el aprendizaje básico de matemáticas financieras.</h4>
		<div class="clear"></div><br/>
		
		<div style='padding: 20px;width: 400px;margin: auto;'>
		<a class="button red large" href="https://github.com/gaferneira/MatematicaFinanciera/archive/matematicaFinanciera.zip"><i class="icon-download-alt"></i> Download (Github)</a> 
		<span style="white-space: nowrap;">
		<a class="button blue large" href="https://twitter.com/gaferneira"><i class="icon-twitter"></i></a>
		<a class="button blue large" href="mailto:gabo.neira@gmail.com"><i class="icon-envelope-alt"></i></a></span><br />
		</div>
</div><!-- END GRID -->

<!-- ===================================== START FOOTER ===================================== -->
<div class="clear"></div>
<div id="footer">
&copy; Software prototipo para Ingeniería Económica. This website was built with
<a href="http://www.99lime.com">HTML KickStart</a><br/>
<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank" title='Creative Commons'> 
<img alt="Licencia Creative Commons" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png">
</a>
</div>
</body></html>